body {
    margin-top: 30px;
    background-color: lightblue;
}
#messageArea {
    display: none;
}

#userFormArea {
    display: block;
}
#discussion {
    background: lightgrey; 
    height: 230px;
    overflow: scroll;
    border-style: solid;
    padding: 4px
}

#feedback {
    margin-top: 2px;
    margin-bottom: 2px;
    background: lightgrey; 
    height: 25px;
    border-style: solid;
    padding: 4px
}
#onlineUsers{
    float: right;
    overflow: scroll;
    margin-top: 2px;
    margin-bottom: 2px;
    background: lightgrey; 
    height: 100px;
    border-style: solid;
    padding: 4px
}
